body {
  margin: auto;
  color: #b34700;
  background-color: #ffddcc;
  width: 50%


}
main {
    font-size: larger;
     font-family: "cursive";
}
header {
    font-size: larger;
    background-color: #f0dbdb;
    border-radius: 20%;
    padding: 3%;
    color: #b34700;
    font-weight: bold;
    font: 2em "Rockwell Nova Extra Bold";
    }

.option{
    background-color: #ffb380;
    border-radius: 3%;
    padding: 3%;
    font: 1em "Rockwell Nova Extra Bold";
    }


img {
    border-radius: 10%;
}
.bonus{
    border-radius: 90%;
}